.instructions {
  padding: 0;
  margin: 1rem auto;
  max-width: max-content;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  // border: 1px solid #333;
  min-height: 3rem;
  margin: 1rem auto;

  &#locations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }
}

.is-person {
  height: 75px;
  width: 34px;
  margin: 10px;
  position: relative;
  background-color: #222;

  &.sex-m {
    background: url('../../img/people/man-s.png');
  }

  &.sex-f {
    background: url('../../img/people/woman-s.png');
  }

  &:not([class*='resident-of']) {
    position: relative;

    .flag {
      display: none;
    }
  }

  &[class*='resident-of'] {

    .flag {
      display: block;
      height: 13px;
      width: min-content;
      display: block;
      position: absolute;
      top: -7px;
      right: -10px;
      border: 1px solid #333;
    }
  }
}

.is-location {
  width: auto;
  margin: 10px;
  padding: 15px;
  color: #fff;
  min-height: 3rem;
  background-color: #222;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;

  &.type-country {
    position: relative;
    border-radius: 4px;
    text-transform: uppercase;
  }

  .location-name {
    font-size: .75rem;
  }

  img {
    max-height: 45px;
    justify-self: end;
  }
}

.date-display {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  margin: 1rem auto;
  list-style: none;
  display: grid;
  gap: .25rem;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  padding: 0;

  & > li {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .25rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5rem;

    .label {
      font-size: 0.7rem;
      color: #666;
      font-weight: bold;
    }
  }
}
